@font-face {
   	font-family: 'Extra Bold';
   	src: url('Mulish-ExtraBold.ttf');
}

@font-face {
	font-family: 'More Bold';
	src: url('Mulish-SemiBold.ttf');
}

@font-face {
	font-family: 'Regular';
	src: url('Mulish-Regular.ttf');
}

@font-face {
	font-family: 'Somewhat Bold';
	src: url('Mulish-Medium.ttf');
}

h1 {
	font-family: 'Extra Bold';
 	margin-top:0px;
 	margin-left: 0px;
	margin-bottom:0px;
}

h2 {
	font-family: 'More Bold';
	margin-top: 0px;
	margin-left: 0px;
 	margin-bottom:20px;
}

h3 {
	font-family: 'Somewhat Bold';
	color: black;
	font-size: 6vh;
	margin-left: 0px;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

p {
	font-family: 'Regular';
	font-size: 5vh;
	margin-left: 0px;
}

p1 {
	font-family: 'Regular';
	color: black;
	margin-left: 0px;
	font-size: 5vh;
}

p2 {
	font-family: 'Regular';
	font-size: 5vh;
	margin-left: 0px;
}

#bannertext {
	font-family: 'Regular';
	font-size: 5vh;
	margin-left: 0px;
	padding-top: 2.5vh;
}

header {
	background-color: whitesmoke;
	color: black;
	text-align: left;
}

center {
	margin-top: 17vh;
	margin-bottom: 7vh;
	text-align: center;
}

body {
	padding-left: 1vw;
	padding-right: 1vw;
	background-color: whitesmoke;
	color: black;
	text-align: left;
}

#indent {
	margin-left: 3vw;
}

#topbanner {
	font-family: 'Regular';
	font-size: 28px;
	margin-left: 0px;
	background-color: black;
	height:12vh;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  left: 0;
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#topbannerright a {
	float: right;
	float: center;
	margin-top: 0vh;
  display: block;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  height: 12vh;
}

#topbannerright a:hover {
  background-color: #9EB179;
  color: black;
}

#topbannerright a.active {
  background-color: gainsboro;
  color: black;
}

.main {
		margin-top: 12vh;
		width:100%;
		padding: 0px 0px 0px;
}

.logo{
	float: left;
	float: center;
	padding-top: 0.5vh;
	padding-left: 2vw;
}

.image{
	padding-left: 9vw;
	padding-top: 1vh;
}

/*.topnav {
	overflow: hidden;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 100px;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 0px;
}

.topnav a {
		float: left;
		padding: 6px 10px 6px 10px;
		padding: 1vh 3vw;
	  text-decoration: none;
	  font-size: 25px;
	  color: white;
	  background-color: black;
	  display: block;
}

.topnav a:hover {
	background-color: #ADC7FF;
	color: black;
}

.topnav a.active {
	background-color: gainsboro;
	color: black;
}
*/
